body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #ECF0F3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
}

button.learn-more {
 width: 12rem;
 height: auto;
}

button.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: #282936;
 border-radius: 1.625rem;
}

button.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}

button.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

button.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

button.learn-more .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #282936;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
}

button:hover .circle {
 width: 100%;
}

button:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(1rem, 0);
}

button:hover .button-text {
 color: #fff;
}

.overview-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 40px;
  background: #f9fafb;

}

.overview-container h2 {
  margin-bottom: 20px;
  color: #333;
  font-weight: 600;
}

/* sanchit rto form css starts */

.rto_form_stylin form.MuiBox-root.css-1th8btl {
    width: 650px;
    border-radius: 20px;
    display: grid;
        background: #fff;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 30px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all .3s 
ease-in-out;
    padding: 50px;
    
    color: #424141;
}

.rto_form_stylin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e6eaef;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
   color: #75bfb0 !important;
   border-color: #75bfb0 !important;
}

.MuiFormLabel-root.Mui-focused {
   color: #75bfb0 !important;
   border-color: #75bfb0 !important;
}

button.learn-more .circle {
  background-color: #75bfb0 !important;
}





/* sanchit submitted rto css starts */


.submit_rto_tablee .MuiDataGrid-root {
  
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border: none;
  overflow: visible !important;

}


.submit_rto_tablee .MuiDataGrid-columnHeaders {
  background-color: #f5f7fa;
  font-weight: 600;
  color: #333;
  border-bottom: 2px solid #e0e0e0;
}


.submit_rto_tablee .MuiDataGrid-cell {
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #f0f0f0;
  font-size: 14px;
  color: #333;
}



.submit_rto_tablee .MuiDataGrid-cell:last-child {
  border-right: none;
  overflow: visible !important;
}


.submit_rto_tablee .MuiDataGrid-cell button {
  overflow: visible !important;
  z-index: 1;
  position: relative;
}


.submit_rto_tablee .MuiDataGrid-row:nth-child(odd) {
  background-color: #ffffff;
}

.submit_rto_tablee .MuiDataGrid-row:nth-child(even) {
  background-color: #f9fafc;
}


.submit_rto_tablee .MuiDataGrid-row:hover {
  
   background-color: #75bfb042 !important;
  transition: background-color 0.25s ease-in-out;
}


.submit_rto_tablee .MuiDataGrid-footerContainer {
  border-top: 2px solid #e0e0e0;
  background-color: #f5f7fa;
}


.submit_rto_tablee .MuiDataGrid-virtualScroller::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.submit_rto_tablee .MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.submit_rto_tablee .MuiDataGrid-virtualScroller::-webkit-scrollbar-track {
  background: transparent;
}

/* action buttons visibility css starts */

.submit_rto_tablee .MuiDataGrid-cell[data-field="actions"],
.submit_rto_tablee .MuiDataGrid-cell--withRenderer {
  overflow: visible !important;
  min-width: 110px !important; 
  justify-content: center;
}


.submit_rto_tablee .MuiDataGrid-cell[data-field="actions"] svg,
.submit_rto_tablee .MuiDataGrid-cell[data-field="actions"] button {
  overflow: visible;
  z-index: 2;
  position: relative;
  pointer-events: auto;
}


.submit_rto_tablee .MuiDataGrid-cell--textRight .MuiDataGrid-cellContent,
.submit_rto_tablee .MuiDataGrid-cell--textLeft .MuiDataGrid-cellContent {
  overflow: visible !important;
  text-overflow: unset !important;
}

/* action buttons visibility css ends */

.submit_rto_tablee .MuiDataGrid-columnHeader.MuiDataGrid-withBorderColor.MuiDataGrid-columnHeader--lastUnpinned.MuiDataGrid-columnHeader--last {
    background: #75bfb0;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    font-family: system-ui;
}

.submit_rto_tablee .MuiDataGrid-columnHeader.MuiDataGrid-columnHeader--sortable.MuiDataGrid-withBorderColor {
    background: #75bfb0;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    font-family: system-ui;
}


/* .rto_form_stylin .MuiOutlinedInput-root {
    border-radius: 50px !important;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff !important;
    font-size: 15px !important;
    height: 55px !important;
    padding: 0 25px !important;
}

.rto_form_stylin .css-18p5xg2-MuiNotchedOutlined-root-MuiOutlinedInput-notchedOutline {
      border: none !important;
} */


/* marketplace button */ 
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
      margin: 30px;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

h3.market_place{
      font-size: 25px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
}


/* amazon market place rto */

.amazonn-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amazonn-heading {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}


.amazonn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.amazonn-form {
        display: flex;
    margin: auto;
    width: 100%;
        gap: 20px;
       padding: 30px;
    align-items: center;
    max-width: 1100px;
        background: #f2f5f7;
    border-radius: 20px;
   
    
    box-shadow: 10px 10px 20px #d1d9e6, -10px -10px 20px #fff;
    text-align: center;
    transition: all .3s 
ease;
}


.amazonn-file {
   margin: 20px 0 20px;
    border-radius: 8px;
    padding: 10px 12px;
    background: #f2f5f7;
    border: none;
    box-shadow: inset 2px 2px 5px #d1d9e6, inset -2px -2px 5px #fff;
    width: 100%;
    cursor: pointer;
    font-size: 13px;
    transition: all .2s 
ease-in-out;
}


.amazonn-btn {
    padding: 15px;
    width: 20%;
    margin-top: 30px;
    justify-content: center;
    background: #7ac4b6;
    border: none;
    display: flex;
    border-radius: 40px;
    /* text-align: center; */
    margin: auto;
    align-items: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease;
}

.amazonn-btn:hover {
    opacity: 0.9;
}

/* submitted rto checkbox css */
.submit_rto_tablee .MuiDataGrid-columnHeader.MuiDataGrid-columnHeader--alignCenter.MuiDataGrid-withBorderColor.MuiDataGrid-columnHeaderCheckbox {
    background: #75bfb0 !important;
}

/* submitted rto popup css */

/* .submit_rto_tablee {
  padding: 20px;
  border-radius: 10px !important;
}


.MuiDataGrid-root {
  border-radius: 14px !important;
  background: #ffffff !important;
  box-shadow: 0 0 12px rgba(0,0,0,0.08);
  overflow: hidden !important;
}


.MuiDataGrid-columnHeaders {
  background: #75bfb0 !important;
  color: #fff !important;
  font-size: 15px;
  font-weight: bold;
  height: 55px !important;
}


.MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
}


.MuiDataGrid-row {
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5 !important;
  height: 55px !important;
}


.MuiDataGrid-row:nth-child(odd) {
  background: #ffffff !important;
}
.MuiDataGrid-row:nth-child(even) {
  background: #f5f5f5 !important;
}


.MuiDataGrid-row.bad-condition {
  background: #ffe1e1 !important;
  color: #b00000 !important;
  font-weight: bold !important;
}


.MuiDataGrid-row.Mui-selected {
  background: #d3e5ff !important;
}


.MuiDialogContent-root table thead tr {
  background: #75bfb0 !important;
}

.MuiDialogContent-root table thead th {
  color: white !important;
  font-weight: bold !important;
}


.MuiDialogContent-root table tbody tr:nth-child(odd) {
  background: #ffffff !important;
}
.MuiDialogContent-root table tbody tr:nth-child(even) {
  background: #f8f8f8 !important;
}

.MuiDialogContent-root table tbody tr td.bad-condition-cell {
  color: #b00000 !important;
  font-weight: bold !important;
} */


/* popup css */

.cancel_subrto {
    background-color: #606060 !important;
    color: #fff;
    padding: 10px 30px !important;
    transform: translateY(-2px);
     border: none !important;
    border-radius: 15px !important;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #fff !important;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    transition: .3s !important;
}

.cancel_subrto:hover {
     background: #75bfb0 !important;
    border: none !important;
    border-radius: 15px !important;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #fff !important;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    transition: .3s !important;
}


.update_subrto {
     background: #75bfb0 !important;
    border: none !important;
    transform: translateY(-2px);
    border-radius: 15px !important;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #fff !important;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    transition: .3s !important;
     padding: 10px 30px !important;
}

.update_subrto:hover {
     background-color: #606060 !important;
    color: #fff;
    padding: 10px 30px !important;
    transform: translateY(-2px);
     border: none !important;
    border-radius: 15px !important;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #fff !important;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    transition: .3s !important;
}


/* inventory update history css */




